/* define custom css variables for colors */
:root {
  --bg-skin-color-1:#fb839e;
  --bg-skin-color-2:#ec9412;
  --bg-skin-color-3:#1fc586;
  --bg-skin-color-4:#2eb1ed;
  --bg-skin-color-5:#cc3a3b;
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --color1-shadow:#d0d0d0;
  --color2-shadow:#f8f8f8;
}

body.dark {
  --bg-black-900: #ffffff;
  --bg-black-100: #353535;
  --bg-black-50: #2b2c2f;
  --text-black-900: #ffffff;
  --text-black-700: #ffffff;
  --text-black-600: #bbbbbb;
  --color1-shadow:#222327;
  --color2-shadow:#363636;
}

/**************************/
/* variables for shadow */
/************************/
body {
  background: var(--bg-black-50);
  font-family: "Raleway", sans-serif;
  position: relative;
  overflow-x: hidden;
}

/* header start */
.header {
  padding: 20px 15px;
  position: relative;
  /* home start */
  /* home end */
}
.header nav {
  position: fixed;
  padding-bottom: 50px;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 99;
}
.header nav .transparent {
  position: relative;
  width: 100%;
}
.header nav .transparent .logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.header nav .transparent .navbar-toggler {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: 999;
  background-color: var(--bg-black-50);
}
.header nav .transparent .navbar-toggler::after {
  border-radius: 50%;
}
.header nav .transparent .navbar-toggler:focus {
  box-shadow: inset 4px 4px 3px var(--color1-shadow), inset -4px -4px 3px var(--color2-shadow);
}
.header nav .transparent .navbar-toggler .navbar-open span {
  display: block;
  margin: auto;
  height: 2px;
  width: 25px;
  background-color: var(--text-black-700);
}
.header nav .transparent .navbar-toggler .navbar-open span:nth-child(2) {
  margin: 4px 0 4px 0;
}
.header nav .transparent .navbar-toggler .navbar-open,
.header nav .transparent .navbar-toggler .navbar-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header nav .transparent .navbar-toggler .navbar-close {
  display: none;
  color: var(--text-black-700);
}
.header nav .transparent .navbar-toggler .navbar-close span {
  font-size: 30px;
}
.header nav ul {
  background: var(--bg-black-50);
  padding: 50px;
}
.header nav ul li a {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px 30px !important;
  border-radius: 30px;
  color: var(--text-black-700) !important;
  text-transform: capitalize;
}
.header nav ul li a::after {
  border-radius: 30px;
}
.header nav ul li a.active {
  color: var(--skin-color) !important;
}
.header .home .effect-wrap .effect {
  position: absolute;
  z-index: -1;
}
.header .home .text p {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
  color: var(--text-black-600);
}
.header .home .text h2 {
  font-size: 55px;
  font-weight: 700;
  margin: 0;
  color: var(--text-black-900);
}
.header .home .text h1 {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  color: var(--text-black-600);
}
.header .home .text .btn-about-me {
  margin-top: 30px;
}
.header .home .img {
  height: 400px;
}
.header .home .img .box {
  border-radius: 50%;
}
.header .home .img .box img {
  width: 350px;
  height: 350px;
  padding: 10px;
  border-radius: 50%;
  border: 10px solid transparent;
}

/* header end*/
/* about start */
.about {
  overflow-x: hidden;
}
.about .box .image {
  margin: auto;
  width: 325px;
  height: 300px;
  padding: 15px;
}
.about .box .image img {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.about .box .links {
  text-align: center;
}
.about .box .links a {
  display: inline-block;
  border-radius: 50%;
  margin: 20px 5px;
  padding: 7px 10px;
  color: var(--text-black-700);
  transition: 0.3s;
}
.about .box .links a:hover {
  color: var(--skin-color);
}
.about .box .links a::after {
  border-radius: 50%;
}
.about .info .text p {
  line-height: 28px;
  letter-spacing: 1px;
  text-align: justify;
  color: var(--text-black-700);
}
.about .info .btns .btn-cv,
.about .info .btns .btn-hire {
  margin: 30px 20px 0 0;
}
.about .about-tabs {
  margin-bottom: 20px;
}
.about .about-tabs .tab-item {
  margin-left: 5px;
}
.about .skills {
  overflow: hidden;
}
.about .skills .skill-item p {
  color: var(--text-black-600);
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 0 10px;
}
.about .skills .skill-item .progress .progress-bar {
  background-color: var(--text-black-600);
  color: var(--bg-black-50);
  font-weight: bold;
}
.about .skills .other-skills h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--skin-color);
}
.about .skills .other-skills p {
  margin: auto;
  color: var(--text-black-700);
  letter-spacing: 1px;
  line-height: 30px;
  width: 66%;
}
.about .experience .timeline,
.about .education .timeline {
  position: relative;
}
.about .experience .timeline::before,
.about .education .timeline::before {
  position: absolute;
  content: "";
  left: 50%;
  height: 100%;
  width: 1px;
  background-color: var(--bg-black-100);
}
.about .experience .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before,
.about .education .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
  right: 50%;
  top: 55px;
}
.about .experience .timeline .timeline-item:nth-child(even) .timeline-item-inner::before,
.about .education .timeline .timeline-item:nth-child(even) .timeline-item-inner::before {
  left: 50%;
  top: 260px;
}
.about .experience .timeline .timeline-item .timeline-item-inner,
.about .education .timeline .timeline-item .timeline-item-inner {
  padding: 20px;
  border-radius: 15px;
}
.about .experience .timeline .timeline-item .timeline-item-inner::before,
.about .education .timeline .timeline-item .timeline-item-inner::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 77px;
  background-color: var(--skin-color);
}
.about .experience .timeline .timeline-item .timeline-item-inner span,
.about .experience .timeline .timeline-item .timeline-item-inner h3,
.about .experience .timeline .timeline-item .timeline-item-inner h4,
.about .education .timeline .timeline-item .timeline-item-inner span,
.about .education .timeline .timeline-item .timeline-item-inner h3,
.about .education .timeline .timeline-item .timeline-item-inner h4 {
  text-transform: capitalize;
}
.about .experience .timeline .timeline-item .timeline-item-inner span,
.about .education .timeline .timeline-item .timeline-item-inner span {
  color: var(--skin-color);
  font-weight: 500;
}
.about .experience .timeline .timeline-item .timeline-item-inner h3,
.about .education .timeline .timeline-item .timeline-item-inner h3 {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-black-700);
}
.about .experience .timeline .timeline-item .timeline-item-inner h4,
.about .education .timeline .timeline-item .timeline-item-inner h4 {
  font-size: 18px;
  font-style: italic;
  color: var(--text-black-600);
}
.about .experience .timeline .timeline-item .timeline-item-inner p,
.about .education .timeline .timeline-item .timeline-item-inner p {
  color: var(--text-black-600);
}
.about .experience .timeline .timeline-item .timeline-item-inner .icon,
.about .education .timeline .timeline-item .timeline-item-inner .icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid var(--bg-black-100);
  border-radius: 50%;
  background-color: var(--bg-black-50);
  color: var(--skin-color);
}
.about .education .timeline {
  height: 270px;
}
.about .tab-content {
  display: none;
}
.about .tab-active {
  display: block;
  animation: fadeInTop 0.5s ease;
}

/*about end */
/* services start */
.services .box {
  width: 350px;
  padding: 30px 10px;
  margin: 10px;
}
.services .box:hover i {
  color: var(--skin-color);
  box-shadow: inset 0 0 0 var(--color1-shadow), inset 0 0 0 var(--color2-shadow);
}
.services .box:hover i::after {
  box-shadow: 4px 4px 3px var(--color1-shadow), -4px -4px 3px var(--color2-shadow);
}
.services .box i {
  color: var(--text-black-900);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  position: relative;
}
.services .box i::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.services .box h5 {
  font-size: 18px;
  text-transform: capitalize;
  color: var(--text-black-900);
  font-weight: 600;
}
.services .box p {
  color: var(--text-black-600);
  letter-spacing: 1px;
}

/* services end */
/* portfolio start */
.portfolio .portfolio-filter {
  text-align: center;
}
.portfolio .portfolio-filter .filter-item {
  margin-top: 0 !important;
}
.portfolio .portfolio-items .card {
  background-color: var(--bg-black-50);
  border: none;
  width: 21.8rem;
  margin: 10px;
  overflow: hidden;
}
.portfolio .portfolio-items .card .btn {
  position: relative;
  border: none;
  text-transform: uppercase;
  margin-left: 5px;
}
.portfolio .portfolio-items .card img {
  height: 150px;
  transition: all 0.5s ease;
}
.portfolio .portfolio-items .card:hover img {
  transform: scaleY(1.1);
}
.portfolio .portfolio-items .card h5 {
  color: var(--text-black-600);
  text-transform: capitalize;
}

/* portfolio end */
/* testimonials start */
.testimonials .slider {
  position: relative;
  padding: 30px;
  width: 700px;
}
.testimonials .slider .carousel .carousel-indicators {
  bottom: -100px;
}
.testimonials .slider .carousel .carousel-indicators button {
  background-color: var(--skin-color);
}
.testimonials .slider .carousel .carousel-item img {
  margin: auto;
}
.testimonials .slider .carousel .carousel-item p {
  letter-spacing: 1px;
  color: var(--text-black-600);
}
.testimonials .slider .carousel .carousel-item span {
  display: block;
  margin-top: 20px;
  color: var(--skin-color);
}
.testimonials .slider .carousel .carousel-control-prev,
.testimonials .slider .carousel .carousel-control-next {
  position: absolute;
}
.testimonials .slider .carousel .carousel-control-prev i,
.testimonials .slider .carousel .carousel-control-next i {
  width: 30px;
  height: 30px;
  text-align: center;
  color: var(--skin-color);
  font-size: 25px;
  box-shadow: 4px 4px 3px var(--color1-shadow), -4px -4px 3px var(--color2-shadow);
  border-radius: 50%;
}
.testimonials .slider .carousel .carousel-control-prev i:hover,
.testimonials .slider .carousel .carousel-control-next i:hover {
  box-shadow: inset 4px 4px 3px var(--color1-shadow), inset -4px -4px 3px var(--color2-shadow);
}
.testimonials .slider .carousel .carousel-control-prev {
  left: -50px;
}
.testimonials .slider .carousel .carousel-control-next {
  right: -50px;
}
.testimonials .slider i {
  position: absolute;
  color: var(--text-black-300);
}
.testimonials .slider i.fa-quote-left {
  top: 5px;
  left: 5px;
}
.testimonials .slider i.fa-quote-right {
  bottom: 5px;
  right: 5px;
}

/* testimonials end */
/* contact start */
.contact {
  text-align: center;
}
.contact .box {
  width: 350px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}
.contact .box i {
  font-size: 20px;
  color: var(--skin-color);
}
.contact .box span {
  display: block;
  text-transform: capitalize;
  color: var(--text-black-900);
  margin: 15px 0 10px 0;
}
.contact .box p {
  color: var(--text-black-600);
  line-height: 26px;
}
.contact .contact-form {
  position: relative;
}
.contact .contact-form .input-group-b input,
.contact .contact-form .input-group-b textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--text-black-900);
  padding: 10px 15px;
  transition: all 0.3s ease;
}
.contact .contact-form .input-group-b input:hover, .contact .contact-form .input-group-b input:focus,
.contact .contact-form .input-group-b textarea:hover,
.contact .contact-form .input-group-b textarea:focus {
  box-shadow: inset 4px 4px 3px var(--color1-shadow), inset -4px -4px 3px var(--color2-shadow);
}
.contact .contact-form .input-group-b input {
  display: block;
  margin-top: 20px;
  border-radius: 50px;
}
.contact .contact-form .input-group-b input:nth-child(1) {
  margin-top: 0;
}
.contact .contact-form .input-group-b textarea {
  border-radius: 30px;
  height: 100%;
  resize: none;
}
.contact .contact-form button {
  width: 150px;
  margin: 30px 40px;
}

/* contact end */
/* footer start */
.footer {
  background: var(--bg-black-100);
  padding: 15px 0;
}
.footer .copyright {
  font-size: 18px;
  font-weight: 600;
  color: var(--skin-color);
  margin: 0;
}

/*footer end */
/* responsive */
@media screen and (max-width: 1024px) {
  .header .home .effect-wrap .effect-2 {
    bottom: 7%;
  }
  .header .home .effect-wrap .effect-5 {
    top: 15%;
  }

  .contact .box {
    width: 290px;
  }
}
@media screen and (max-width: 768px) {
  .header .home .effect-wrap .effect-4 {
    top: 15%;
  }
  .header .home .effect-wrap .effect-5 {
    top: 15%;
  }
  .header .home .info h2 {
    font-size: 45px;
  }
  .header .home .img img {
    width: 300px !important;
    height: 300px !important;
  }

  .about .box .image {
    width: 250px;
    height: 275px;
  }
  .about .experience .timeline .timeline-item:nth-child(even) .timeline-item-inner .icon, .about .education .timeline .timeline-item:nth-child(even) .timeline-item-inner .icon {
    top: 240px;
  }
  .about .experience .timeline .timeline-item .timeline-item-inner::before, .about .education .timeline .timeline-item .timeline-item-inner::before {
    width: 55px;
  }

  .services .box {
    width: 300px;
  }

  .portfolio .portfolio-items .card {
    width: 21rem !important;
  }
  .portfolio .portfolio-items .card .btn {
    padding: 3px !important;
    width: 100px;
    font-size: 12px;
  }

  .contact .box {
    width: 340px;
  }
}
@media screen and (max-width: 575px) {
  .header .home .effect-wrap .effect-1,
.header .home .effect-wrap .effect-2 {
    bottom: 5%;
  }
  .header .home .effect-wrap .effect-3 {
    left: 25%;
  }
  .header .home .effect-wrap .effect-4 {
    top: 13%;
  }
  .header .home .effect-wrap .effect-5 {
    top: 40%;
  }
  .header .home .info {
    margin-top: 50px;
  }
  .header .home .info h2 {
    font-size: 30px;
  }
  .header .home .info h1 {
    font-size: 17px;
  }
  .header .home .header .home .img {
    position: relative;
    top: -25px;
  }

  .about .btns {
    margin-left: 50px;
  }
  .about .btns .btn-cv,
.about .btns .btn-hire {
    margin: 10px !important;
  }
  .about .skills .other-skills p {
    font-size: 14px;
    width: 90%;
  }
  .about .experience .timeline::before, .about .education .timeline::before {
    left: 25px;
  }
  .about .experience .timeline .timeline-item, .about .education .timeline .timeline-item {
    margin-left: 60px;
  }
  .about .experience .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before, .about .education .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
    left: 15px;
    width: 40px;
  }
  .about .experience .timeline .timeline-item:nth-child(even) .timeline-item-inner::before, .about .education .timeline .timeline-item:nth-child(even) .timeline-item-inner::before {
    left: 10px;
    top: 285px;
    width: 45px;
  }
  .about .experience .timeline .timeline-item:nth-child(even) .timeline-item-inner .icon, .about .education .timeline .timeline-item:nth-child(even) .timeline-item-inner .icon {
    top: 263px;
  }
  .about .experience .timeline .timeline-item .timeline-item-inner, .about .education .timeline .timeline-item .timeline-item-inner {
    width: 290px;
  }
  .about .experience .timeline .timeline-item .timeline-item-inner .icon, .about .education .timeline .timeline-item .timeline-item-inner .icon {
    left: 25px;
  }

  .services .box {
    margin-top: 20px !important;
  }

  .testimonials .slider {
    width: 350px;
  }
  .testimonials .slider .carousel-control-prev {
    left: -38px !important;
  }
  .testimonials .slider .carousel-control-next {
    right: -38px !important;
  }

  .contact .box {
    margin: 10px auto;
  }

  .contact .contact-form .input-group-b textarea {
    width: 100%;
    margin-top: 20px;
  }

  .contact .contact-form button {
    margin-top: 50px;
    font-size: 13px;
    padding: 7px 10px !important;
    width: 120px;
  }
}
/* start framework */
*:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.about .about-tabs .tab-item, .portfolio .portfolio-filter .filter-item, .header .home .text .btn-about-me, .about .info .btns .btn-cv,
.about .info .btns .btn-hire, .portfolio .portfolio-items .card .btn, .contact .contact-form button {
  display: inline-block;
  padding: 7px 18px;
  font-weight: 500;
  border: none;
  color: var(--skin-color);
  background: transparent;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.about .about-tabs .tab-item:after, .portfolio .portfolio-filter .filter-item:after, .header .home .text .btn-about-me:after, .about .info .btns .btn-cv:after,
.about .info .btns .btn-hire:after, .portfolio .portfolio-items .card .btn:after, .contact .contact-form button:after {
  border-radius: 30px;
}

.about .about-tabs .tab-item, .portfolio .portfolio-filter .filter-item {
  color: var(--text-black-700) !important;
  text-transform: capitalize;
  margin-top: 50px;
}
.about .about-tabs .active.tab-item, .portfolio .portfolio-filter .active.filter-item {
  color: var(--skin-color) !important;
  box-shadow: 4px 4px 3px var(--color1-shadow), -4px -4px 3px var(--color2-shadow) !important;
}
.about .about-tabs .tab-item:hover, .portfolio .portfolio-filter .filter-item:hover {
  box-shadow: 4px 4px 3px var(--color1-shadow), -4px -4px 3px var(--color2-shadow);
  color: var(--skin-color) !important;
  cursor: pointer;
}

.inner-shadow {
  box-shadow: inset 4px 4px 3px var(--color1-shadow), inset -4px -4px 3px var(--color2-shadow);
}

.outer-shadow {
  box-shadow: 4px 4px 3px var(--color1-shadow), -4px -4px 3px var(--color2-shadow);
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}
.hover-in-shadow::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  z-index: -1;
}
.hover-in-shadow:hover {
  box-shadow: 0 0 0 var(--color1-shadow), 0 0 0 var(--color2-shadow);
  border: none;
}
.hover-in-shadow:hover::after {
  box-shadow: inset 4px 4px 3px var(--color1-shadow), inset -4px -4px 3px var(--color2-shadow);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}

.effect-2 {
  display: flex;
  flex-wrap: wrap;
  width: 40px;
  justify-content: space-between;
  left: 3%;
  bottom: 15%;
  animation: topBounce 3s ease-in-out infinite;
}
.effect-2 div {
  width: 3px;
  height: 3px;
  background-color: #ff9c07;
  margin: 0 3px 8px;
}

.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid var(--skin-color);
  border-radius: 50%;
  left: 50%;
  top: -120px;
  animation: leftBounce 3s ease-in-out infinite;
}

.effect-4 {
  top: 20%;
  left: 30%;
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  animation: spin 15s linear infinite;
}
.effect-4::before {
  position: absolute;
  content: "";
  left: -35px;
  top: -25px;
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  opacity: 0.5;
}

.effect-5 {
  height: 50px;
  width: 50px;
  right: 10%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 10s linear infinite;
}
.effect-5 div {
  width: 1px;
  background: #4dd0e1;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
}
.heading h2 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--skin-color);
}
.heading span {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 3px;
  background-color: var(--text-black-900);
}
.heading h3 {
  font-size: 35px;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-black-900);
}

/* keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes topBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
@keyframes leftBounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* */

/*# sourceMappingURL=style.css.map */
