
/* define custom css variables for colors */


//variables in css is global 
 :root {
    --bg-skin-color-1:#fb839e;
    --bg-skin-color-2:#ec9412;
    --bg-skin-color-3:#1fc586;
    --bg-skin-color-4:#2eb1ed;
    --bg-skin-color-5:#cc3a3b;
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --color1-shadow:#d0d0d0;
    --color2-shadow:#f8f8f8;
 }

 // variables in dark mood
 body.dark {

    //root 
    --bg-black-900: #ffffff;
    --bg-black-100: #353535;
    --bg-black-50: #2b2c2f;
    --text-black-900: #ffffff;
    --text-black-700: #ffffff;
    --text-black-600: #bbbbbb;
    --color1-shadow:#222327;
    --color2-shadow:#363636;
}


//variables in scss is local her
$skin-color:var(--skin-color);
$bg-black-900: var(--bg-black-900);
$bg-black-100: var(--bg-black-100);
$bg-black-50: var(--bg-black-50);
$text-black-900: var(--text-black-900);
$text-black-700: var(--text-black-700);
$text-black-600:var(--text-black-600);
$text-black-300: var(--text-black-300);

/**************************/

/* variables for shadow */
    
    $outer-shadow: 4px 4px 3px var(--color1-shadow),
    -4px -4px 3px var(--color2-shadow);
    $outer-shadow-0: 0 0 0 var(--color1-shadow),
    0 0 0 var(--color2-shadow);
    $inner-shadow: inset 4px 4px 3px var(--color1-shadow),
    inset -4px -4px 3px var(--color2-shadow);
    $inner-shadow: inset 4px 4px 3px var(--color1-shadow),
    inset -4px -4px 3px var(--color2-shadow);
    $inner-shadow-0: inset 0 0 0 var(--color1-shadow),
    inset 0 0 0 var(--color2-shadow);
    /************************/
    

    body {
        background:$bg-black-50;
        font-family: "Raleway", sans-serif;
        position: relative;
        overflow-x: hidden;
    }

    /* header start */
    
    .header {
        padding: 20px 15px;
        position: relative;
        nav {
            position: fixed;
            padding-bottom: 50px;
            top: 20px;
            left: 0;
            width: 100%;
            z-index: 99;
            .transparent {
                position: relative;
                width: 100%;
                .logo {
                    display: inline-block;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                }
                .navbar-toggler {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    right: 0;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    z-index: 999;
                    background-color: $bg-black-50;
                    &::after {
                        border-radius: 50%;
                    }
                    &:focus {
                        box-shadow: $inner-shadow;
                    }
                    .navbar-open {
                        span {
                       
                            display: block;
                            margin: auto;
                            height: 2px;
                            width: 25px;
                            background-color:$text-black-700;
                            &:nth-child(2){
                                margin: 4px 0 4px 0;
                            }
                        }
                    }
                   .navbar-open,
                   .navbar-close {
                       position: absolute;
                       top: 50%;
                       left: 50%;
                       transform: translate(-50%,-50%);
                   
                   }
                    .navbar-close {
                        display: none;
                        color:$text-black-700;
                        span {
                            font-size: 30px;
                        }
                    }
                    
                }
            }
            ul {
                background: $bg-black-50;
                padding: 50px;
                li {
                    a {
                        display: inline-block;
                        font-size: 28px;
                        font-weight: 600;
                        margin-top: 10px;
                        padding: 10px 30px !important;
                        border-radius: 30px;
                        color: $text-black-700 !important;
                        text-transform: capitalize;
                        &::after {
                            border-radius: 30px;
                        }
                    }
                    a.active {
                        color: $skin-color !important;
                    }
                }
            }
        }
        /* home start */
        .home {
            .effect-wrap {
                .effect {
                    position: absolute;
                    z-index: -1;
                }
            }
            .text {
                p {
                    font-size: 18px;
                    text-transform: capitalize;
                    margin: 0;
                    color: $text-black-600;
                }
                h2 {
                    font-size: 55px;
                    font-weight: 700;
                    margin: 0;
                    color: $text-black-900;
                }
                h1 {
                    font-size: 20px;
                    font-weight: 500;
                    text-transform: capitalize;
                    margin: 0;
                    color: $text-black-600;
                }
                .btn-about-me {
                    margin-top: 30px;
                    @extend %btn-1;
                }
            }
            .img {
                height: 400px;
                .box {
                    border-radius: 50%;
                    img {
                        width: 350px;
                        height: 350px;
                        padding: 10px;
                        border-radius: 50%;
                        border: 10px solid transparent;
                    }
                }
            }
        }
        /* home end */
    }
    /* header end*/



    /* about start */
    
    .about {
        overflow-x: hidden;
        .box {
            .image {
                margin: auto;
                width: 325px;
                height: 300px;
                padding: 15px;
                img {
                    width: 100%;
                    height: 100%;
                    padding: 15px;
                }
            }
            .links {
                text-align: center;
                a {
                    display: inline-block;
                    border-radius: 50%;
                    margin: 20px 5px;
                    padding: 7px 10px;
                    color: $text-black-700;
                    transition: 0.3s;
                    &:hover {
                        color: $skin-color;
                    }
                    &::after {
                        border-radius: 50%;
                    }
                }
            }
        }
        .info {
            .text {
                p {
                    line-height: 28px;
                    letter-spacing: 1px;
                    text-align: justify;
                    color: $text-black-700
                }
            }
            .btns {
                .btn-cv,
                .btn-hire {
                    @extend %btn-1;
                    margin: 30px 20px 0 0;
                }
            }
        }
        .about-tabs {
            margin-bottom: 20px;
            .tab-item {
                @extend %tab-item;
                margin-left: 5px;
            }
        }
        .skills {
            overflow: hidden;
            .skill-item {
                p {
                    color: $text-black-600;
                    text-transform: capitalize;
                    font-weight: 600;
                    margin: 0 0 10px;
                }
                .progress {
                    .progress-bar {
                        background-color: $text-black-600;
                        color: $bg-black-50;
                        font-weight: bold;
                    }
                }
            }
            .other-skills {
                h4 {
                    font-size: 18px;
                    font-weight: 600;
                    color: $skin-color;
                }
                p {
                    margin: auto;
                    color: $text-black-700;
                    letter-spacing: 1px;
                    line-height: 30px;
                    width: 66%;
                }
            }
        }
        .experience,
        .education {
            .timeline {
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    left: 50%;
                    height: 100%;
                    width: 1px;
                    background-color: $bg-black-100;
                }
                .timeline-item {
                    
                    &:nth-child(odd) {
                        .timeline-item-inner::before {
                            right: 50%;
                            top: 55px;
                        }
                    }
                    &:nth-child(even) {
                       
                        .timeline-item-inner::before {
                            left: 50%;
                            top: 260px;
                        }
                    }
                    .timeline-item-inner {
                        padding: 20px;
                        border-radius: 15px;
                        &::before {
                            position: absolute;
                            content: '';
                            height: 1px;
                            width: 77px;
                            background-color: $skin-color;
                        }
                        span,
                        h3,
                        h4 {
                            text-transform: capitalize;
                        }
                        span {
                            color: $skin-color;
                            font-weight: 500;
                        }
                        h3 {
                            font-size: 22px;
                            font-weight: 600;
                            color: $text-black-700;
                        }
                        h4 {
                            font-size: 18px;
                            font-style: italic;
                            color: $text-black-600;
                        }
                        p {
                            color: $text-black-600;
                        }
                        .icon {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 40px;
                            width: 40px;
                            border: 1px solid $bg-black-100;
                            border-radius: 50%;
                            background-color: $bg-black-50;
                            color: $skin-color;
                            
                        }
                    }
                }
            }
        }
        .education {
            .timeline {
                height: 270px;
            }
        }
        .tab-content {
            display: none;
        }
        .tab-active {
            display: block;
            animation: fadeInTop 0.5s ease;
        }
    }
    /*about end */



    /* services start */
    
    .services {
        .box {
            width: 350px;
            padding: 30px 10px;
            margin: 10px;
            &:hover {
                i {
                    color: $skin-color;
                    box-shadow: $inner-shadow-0;
                    &::after {
                        box-shadow: $outer-shadow;
                    }
                }
            }
            i {
                color: $text-black-900;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                font-size: 20px;
                border-radius: 50%;
                margin-bottom: 20px;
                transition: all 0.3s ease;
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                }
            }
            h5 {
                font-size: 18px;
                text-transform: capitalize;
                color: $text-black-900;
                font-weight: 600;
            }
            p {
                color: $text-black-600;
                letter-spacing: 1px;
            }
        }
    }
    /* services end */



    /* portfolio start */
    
    .portfolio {
        .portfolio-filter {
            text-align: center;
            .filter-item {
                @extend %tab-item;
                margin-top: 0 !important;
            }
        }
        .portfolio-items {
            .card {
                background-color: $bg-black-50;
                border: none;
                width: 21.8rem;
                margin: 10px;
                overflow: hidden;
                .btn {
                    @extend %btn-1;
                    position: relative;
                    border: none;
                    text-transform: uppercase;
                    margin-left: 5px;
                }
                img {
                    height: 150px;
                    transition: all 0.5s ease;
                }
                &:hover {
                    img {
                        transform: scaleY(1.1);
                    }
                }
                h5 {
                    color: $text-black-600;
                    text-transform: capitalize;
                }
            }
        }
    }
    /* portfolio end */



    /* testimonials start */
    
    .testimonials {
        .slider {
            position: relative;
            padding: 30px;
            width: 700px;
            .carousel {
                .carousel-indicators {
                    bottom: -100px;
                    button {
                        background-color: $skin-color;
                    }
                }
                .carousel-item {
                    img {
                        margin: auto;
                    }
                    p {
                        letter-spacing: 1px;
                        color: $text-black-600;
                    }
                    span {
                        display: block;
                        margin-top: 20px;
                        color: $skin-color;
                    }
                }
                .carousel-control-prev,
                .carousel-control-next {
                    position: absolute;
                    i {
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        color: $skin-color;
                        font-size: 25px;
                        box-shadow: $outer-shadow;
                        border-radius: 50%;
                        &:hover {
                            box-shadow: $inner-shadow;
                        }
                    }
                }
                .carousel-control-prev {
                    left: -50px;
                }
                .carousel-control-next {
                    right: -50px;
                }
            }
            i {
                position: absolute;
                color: $text-black-300;
                &.fa-quote-left {
                    top: 5px;
                    left: 5px;
                }
                &.fa-quote-right {
                    bottom: 5px;
                    right: 5px;
                }
            }
        }
    }
    /* testimonials end */



    /* contact start */
    
    .contact {
        text-align: center;
        .box {
            width: 350px;
            margin: 10px;
            padding: 20px;
            border-radius: 5px;
            i {
                font-size: 20px;
                color: $skin-color;
            }
            span {
                display: block;
                text-transform: capitalize;
                color: $text-black-900;
                margin: 15px 0 10px 0;
            }
            p {
                color: $text-black-600;
                line-height: 26px;
            }
        }
        .contact-form {
            position: relative;
            .input-group-b {
                input,
                textarea {
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    color: $text-black-900;
                    padding: 10px 15px;
                    transition: all 0.3s ease;
                    &:hover,
                    &:focus {
                        box-shadow: $inner-shadow;
                    }
                }
                input {
                    display: block;
                    margin-top: 20px;
                    border-radius: 50px;
                    &:nth-child(1) {
                        margin-top: 0;
                    }
                }
                textarea {
                    border-radius: 30px;
                    height: 100%;
                    resize: none;
                }
            }
            button {
                @extend %btn-1;
                width: 150px;
                margin: 30px 40px;
            }
        }
    }
    /* contact end */



    /* footer start */
    
    .footer {
        background: $bg-black-100;
        padding: 15px 0;
        .copyright {
            font-size: 18px;
            font-weight: 600;
            color: $skin-color;
            margin: 0;
        }
    }
    /*footer end */


    /* responsive */
   @import 'responsive';


    /* start framework */
    
    * {
        &:focus {
            box-shadow: none;
            outline: none;
            border: none;
        }
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        list-style: none;
    }
    
    %btn-1 {
        display: inline-block;
        padding: 7px 18px;
        font-weight: 500;
        border: none;
        color: $skin-color;
        background: transparent;
        border-radius: 30px;
        transition: all 0.3s ease;
        &:after {
            border-radius: 30px;
        }
    }
    
    %tab-item {
        @extend %btn-1;
        color: $text-black-700 !important;
        text-transform: capitalize;
        margin-top: 50px;
        &.active {
            color: $skin-color !important;
            box-shadow: $outer-shadow !important;
        }
        &:hover {
            box-shadow: $outer-shadow;
            color: $skin-color !important;
            cursor: pointer;
        }
    }
    
    .inner-shadow {
        box-shadow: $inner-shadow;
    }
    
    .outer-shadow {
        box-shadow: $outer-shadow;
    }
    
    .hover-in-shadow {
        position: relative;
        z-index: 1;
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
            z-index: -1;
        }
        &:hover {
            box-shadow: $outer-shadow-0;
            border: none;
            &::after {
                box-shadow: $inner-shadow;
            }
        }
    }
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .effect-1 {
        width: 30px;
        height: 30px;
        border: 4px solid #8a49ff;
        right: 10%;
        bottom: 10%;
        animation: spin 10s linear infinite;
    }
    
    .effect-2 {
        display: flex;
        flex-wrap: wrap;
        width: 40px;
        justify-content: space-between;
        left: 3%;
        bottom: 15%;
        animation: topBounce 3s ease-in-out infinite;
        div {
            width: 3px;
            height: 3px;
            background-color: #ff9c07;
            margin: 0 3px 8px;
        }
    }
    
    .effect-3 {
        height: 180px;
        width: 180px;
        border: 25px solid $skin-color;
        border-radius: 50%;
        left: 50%;
        top: -120px;
        animation: leftBounce 3s ease-in-out infinite;
    }
    
    .effect-4 {
        top: 20%;
        left: 30%;
        border-top: 30px solid transparent;
        border-left: 30px solid #06d79c;
        animation: spin 15s linear infinite;
        &::before {
            position: absolute;
            content: "";
            left: -35px;
            top: -25px;
            border-top: 30px solid transparent;
            border-left: 30px solid #06d79c;
            opacity: 0.5;
        }
    }
    
    .effect-5 {
        height: 50px;
        width: 50px;
        right: 10%;
        top: 30%;
        display: flex;
        justify-content: space-between;
        border-radius: 50%;
        overflow: hidden;
        animation: spin 10s linear infinite;
        div {
            width: 1px;
            background: #4dd0e1;
        }
    }
    
    .heading {
        text-align: center;
        margin-bottom: 30px;
        h2 {
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            color: $skin-color;
        }
        span {
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 3px;
            background-color: $text-black-900;
        }
        h3 {
            font-size: 35px;
            margin-top: 30px;
            text-transform: uppercase;
            font-weight: 700;
            color: $text-black-900;
        }
    }
    /* keyframes */
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes topBounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(25px);
        }
    }
    
    @keyframes leftBounce {
        0%,
        100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(25px);
        }
    }
    
    @keyframes fadeInTop {
        0% {
            opacity: 0;
            transform: translateY(-25px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    /* */